*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	height: 100%;
}
body {
    height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #222422;
	background: url('../image/back.jpg') no-repeat;
	background-size: cover;

}

.label{
    margin: 20px;
    color: white;
}
