{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'simulator/css/login.css' %}" rel="stylesheet">
<!--	<script src="js/master.js" charset="utf-8"></script>-->
	<title>Title</title>
</head>
<body>
    <div class="wrapper"></div>
		<div class="login-window">
			<h1 class="auth">Авторизация</h1>
			<input type="text" placeholder="Логин" class="log">
			<input type="password" placeholder="Пароль" class="pass">
			<a class="forgot-p" href="#">Забыли пароль?</a>
			<button class="form-btn">Войти</button>
		</div>
</body>
</html>
