<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% bootstrap_css %}
    <link type="text/css" href="{% static 'simulator/css/registration.css' %}" rel="stylesheet">

    {% bootstrap_javascript %}
    <script src="js/master.js" charset="utf-8"></script>

    <title>{{ title }}</title>
  </head>
  <body>
    <div align="right" class="back-form" id="back-form1">
      <form method="post">
        {% csrf_token %}
        {% for f in form %}
          <p style="margin-right: 100px;">
            <label class="form-label"
                   for="{{ f.id_for_label }}"
                   style="color: black; margin-right: 10px;">
              {{ f.label }}:
            </label>
            {{ f }}
          </p>
        {% endfor %}
        <div align="center">
          <input type="submit" value="Зарегистрироваться" class="button">
        </div>
      </form>
    </div>
  </body>
</html>